@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  font-weight: 400;
}

strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

a {
  text-decoration: none !important;
  color: unset !important;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

button {
  border: none;
  background: none;
}

p {
  margin: 0 !important;
}

img {
  position: unset !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #02b355;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #007336;
}
